[
    {
        "Name": "none",
        "Id": "2b132045de319924110668bba1c598911971d575709706a631d3576a6ac456ad",
        "Created": "2023-09-03T14:02:21.19395584Z",
        "Scope": "local",
        "Driver": "null",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": null,
            "Config": []
        },
        "Internal": false,
        "Attachable": false,
        "Ingress": false,
        "ConfigFrom": {
            "Network": ""
        },
        "ConfigOnly": false,
        "Containers": {},
        "Options": {},
        "Labels": {}
    }
]
