[
    {
        "Name": "host",
        "Id": "23e02dea329747ace16bbeca0e206e3e5c4b924022e2261278e6ba9eafc5061e",
        "Created": "2023-09-03T14:02:21.220132727Z",
        "Scope": "local",
        "Driver": "host",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": null,
            "Config": []
        },
        "Internal": false,
        "Attachable": false,
        "Ingress": false,
        "ConfigFrom": {
            "Network": ""
        },
        "ConfigOnly": false,
        "Containers": {},
        "Options": {},
        "Labels": {}
    }
]
