[
    {
        "Name": "proxy_caddy",
        "Id": "c76f20c472c8e3f1f49ce9e97090d5b713ad95eba039b8322dfd5e258d2f8f44",
        "Created": "2023-09-03T17:46:31.528213832Z",
        "Scope": "local",
        "Driver": "bridge",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": null,
            "Config": [
                {
                    "Subnet": "172.18.0.0/16",
                    "Gateway": "172.18.0.1"
                }
            ]
        },
        "Internal": false,
        "Attachable": false,
        "Ingress": false,
        "ConfigFrom": {
            "Network": ""
        },
        "ConfigOnly": false,
        "Containers": {
            "0ee38bd73b28e14677f387fc01e149172f41250b84f916beb6959d8f6304754f": {
                "Name": "dashdot-web-1",
                "EndpointID": "8f89d9d5a84d7dd6a0586a8ce6abba7142b23845a798be8a67028f55a23b150e",
                "MacAddress": "02:42:ac:12:00:05",
                "IPv4Address": "172.18.0.5/16",
                "IPv6Address": ""
            },
            "251243f1ce4327895265cee308f7060862fe1e13af62f693d6dabae17fc06d1c": {
                "Name": "homarr",
                "EndpointID": "f4fddf908636e7af832d2de7fc804b00160053e3e5d2ec0a51da0cd56921756e",
                "MacAddress": "02:42:ac:12:00:06",
                "IPv4Address": "172.18.0.6/16",
                "IPv6Address": ""
            },
            "5056b9563c844a640277acef7bc071459aeaad1b7f7d5bab731de4eaf0b6b0af": {
                "Name": "proxy-whoami0-1",
                "EndpointID": "00da29fd001b01a74a1c54ed26fcfa1ee13e0dd5648fd1f7d768dad948796976",
                "MacAddress": "02:42:ac:12:00:07",
                "IPv4Address": "172.18.0.7/16",
                "IPv6Address": ""
            },
            "5142170b8da5ca945e97f08ba590e5ccc502020ad214041476295f91a2d551c9": {
                "Name": "windmill-windmill_worker_native-1",
                "EndpointID": "a15bb576399fe792d073cb81bfd663e4c0218ff66e3fe4a17edfd23c52e5ad72",
                "MacAddress": "02:42:ac:12:00:08",
                "IPv4Address": "172.18.0.8/16",
                "IPv6Address": ""
            },
            "771501689b40d9f644ac72de6d4d08634db0bd3ae14d37c1309c81edc82febf2": {
                "Name": "windmill-windmill_server-1",
                "EndpointID": "5d56bf2dc50746624cb88f4b23f057d5dbecedf22debcf662beb3eccfcb01aae",
                "MacAddress": "02:42:ac:12:00:03",
                "IPv4Address": "172.18.0.3/16",
                "IPv6Address": ""
            },
            "861dd1513171eae7139c26b0ef312d9bfe5a6f21782467bc5a63298a8185df36": {
                "Name": "proxy-portainer-1",
                "EndpointID": "17797ef59014841dc2b64a869030ac33134b11bbb7e2cb9d10815b3e45acb7b6",
                "MacAddress": "02:42:ac:12:00:04",
                "IPv4Address": "172.18.0.4/16",
                "IPv6Address": ""
            },
            "cbb6582da23769cae81e9099336820076dd9bba3bd03fc9d027b2b53df196ebd": {
                "Name": "proxy-caddy-1",
                "EndpointID": "c4a2f9148fec059d90501ec553f5365f0727faf0e89c117a9ff0a269dc2ea79e",
                "MacAddress": "02:42:ac:12:00:02",
                "IPv4Address": "172.18.0.2/16",
                "IPv6Address": ""
            },
            "ddba136e2fd7d40264f49dfc17fb72e7128260babd7a60281bc445954a86aded": {
                "Name": "home_assistent_elias-homeassistant-1",
                "EndpointID": "a5e8eaeed535c7119d2e4a80d361cbf5dbb8d9beae6e949d6e76d160d25609ae",
                "MacAddress": "02:42:ac:12:00:09",
                "IPv4Address": "172.18.0.9/16",
                "IPv6Address": ""
            },
            "f2b8bb4c2a2612daa9479328eecdbe0893b9c8f6eea68dd6cfb9963cfb5d3772": {
                "Name": "filecloud.server",
                "EndpointID": "a78fcf1bad9e13c0ecab3064e991c967c47c2f03945742af10b70786dcb1478a",
                "MacAddress": "02:42:ac:12:00:0a",
                "IPv4Address": "172.18.0.10/16",
                "IPv6Address": ""
            }
        },
        "Options": {},
        "Labels": {
            "com.docker.compose.network": "caddy",
            "com.docker.compose.project": "proxy",
            "com.docker.compose.version": "2.20.2"
        }
    }
]
