[
    {
        "Name": "filecloud_default",
        "Id": "e16dac509c26785a15cc8e330b8108a7a15d314bae05af6ce74aa1452cdc0723",
        "Created": "2023-09-05T21:33:02.474614436Z",
        "Scope": "local",
        "Driver": "bridge",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": null,
            "Config": [
                {
                    "Subnet": "172.21.0.0/16",
                    "Gateway": "172.21.0.1"
                }
            ]
        },
        "Internal": false,
        "Attachable": false,
        "Ingress": false,
        "ConfigFrom": {
            "Network": ""
        },
        "ConfigOnly": false,
        "Containers": {
            "7738987c64a0432c966eff82b5b15a9990b905fe4fe869d7eaa764cce810b202": {
                "Name": "filecloud.preview",
                "EndpointID": "65557cb9a000a2ed180a2983b8685917e1bedb3e3d46bf7d39dfa81ef7bbcdd3",
                "MacAddress": "02:42:ac:15:00:04",
                "IPv4Address": "172.21.0.4/16",
                "IPv6Address": ""
            },
            "d6d6c55a54d4e490fed0756935b1417557f16e2626f512ae8a7a383bc3dffa02": {
                "Name": "filecloud.mongodb",
                "EndpointID": "d6c2e8408ac38cc75a1eb7f2744976648203ddd818366462e3b60c19a360d35b",
                "MacAddress": "02:42:ac:15:00:02",
                "IPv4Address": "172.21.0.2/16",
                "IPv6Address": ""
            }
        },
        "Options": {},
        "Labels": {
            "com.docker.compose.network": "default",
            "com.docker.compose.project": "filecloud",
            "com.docker.compose.version": "2.20.2"
        }
    }
]
