[
    {
        "Name": "proxy_default",
        "Id": "54bdc69b59aa9461b87dba24009b152b5a43c17e6cc9493efc2838b7e343c4be",
        "Created": "2023-09-05T22:18:49.891652087Z",
        "Scope": "local",
        "Driver": "bridge",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": null,
            "Config": [
                {
                    "Subnet": "172.25.0.0/16",
                    "Gateway": "172.25.0.1"
                }
            ]
        },
        "Internal": false,
        "Attachable": false,
        "Ingress": false,
        "ConfigFrom": {
            "Network": ""
        },
        "ConfigOnly": false,
        "Containers": {
            "122b561abae25afe69ab0a1882132f7c00d903f5150a1a95f9e2f35609438bd6": {
                "Name": "proxy-proxmox-1",
                "EndpointID": "124deaf9c7e20fb8abe0fd29bf34f6eaa2df1ebb7cec50a5c4f246375c846e18",
                "MacAddress": "02:42:ac:19:00:04",
                "IPv4Address": "172.25.0.4/16",
                "IPv6Address": ""
            },
            "ec1c8f1fe44976eca9033429dd4a7d7fe4449b532456fd488324e4f1f6fab488": {
                "Name": "proxy-portsync-1",
                "EndpointID": "46aabcbddb98cab6ca106b799447822a6f768dc02a8c1c85dc6706287fa7770e",
                "MacAddress": "02:42:ac:19:00:02",
                "IPv4Address": "172.25.0.2/16",
                "IPv6Address": ""
            },
            "f77702ae8ab896c6707d3a26e04c1d7cb3572302d7ee04bf74b5181515cfe401": {
                "Name": "proxy-ddns-1",
                "EndpointID": "f7a17954d18b50bcfbd3e05a885329349ff021075d3804afb43e00ae47254e96",
                "MacAddress": "02:42:ac:19:00:03",
                "IPv4Address": "172.25.0.3/16",
                "IPv6Address": ""
            }
        },
        "Options": {},
        "Labels": {
            "com.docker.compose.network": "default",
            "com.docker.compose.project": "proxy",
            "com.docker.compose.version": "2.20.2"
        }
    }
]
