[
    {
        "Name": "windmill_windmill_link",
        "Id": "b9fdb8a0390b09d9138119c866438e13824500dced98acb63e3103c904586ee7",
        "Created": "2023-09-04T10:21:28.639668086Z",
        "Scope": "local",
        "Driver": "bridge",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": null,
            "Config": [
                {
                    "Subnet": "172.19.0.0/16",
                    "Gateway": "172.19.0.1"
                }
            ]
        },
        "Internal": false,
        "Attachable": false,
        "Ingress": false,
        "ConfigFrom": {
            "Network": ""
        },
        "ConfigOnly": false,
        "Containers": {
            "2a8eaa05e2b2ac622094b3a027fa96e243b4815f5043c0dee79a508d10b64afb": {
                "Name": "windmill-windmill_worker-3",
                "EndpointID": "a464be70f691d56a2a3cd7c36226e0c48d0d4eae41a9e84364d3ddd09eaf8fe3",
                "MacAddress": "02:42:ac:13:00:04",
                "IPv4Address": "172.19.0.4/16",
                "IPv6Address": ""
            },
            "2ba62ba78eeae7e6de48e0f9742c0d869b8ea37468c368b60e812c7f1da81ee5": {
                "Name": "windmill-windmill_worker-2",
                "EndpointID": "9f9fe2cba28694868a574e2caf68cb6c9e84e6c8a54b07e2acc1fa851dd4429e",
                "MacAddress": "02:42:ac:13:00:05",
                "IPv4Address": "172.19.0.5/16",
                "IPv6Address": ""
            },
            "330d17442e9c038a584752dde02a87308ebe02e072cb1816f5d8e295b0d01d4b": {
                "Name": "windmill-lsp-1",
                "EndpointID": "52f3f0d68c9c2dadaeaf283b3961ae83c00cbad444b2324b10f8f290ba1c89f1",
                "MacAddress": "02:42:ac:13:00:06",
                "IPv4Address": "172.19.0.6/16",
                "IPv6Address": ""
            },
            "5142170b8da5ca945e97f08ba590e5ccc502020ad214041476295f91a2d551c9": {
                "Name": "windmill-windmill_worker_native-1",
                "EndpointID": "2e9ded77c47a23485fd05fd8307b50a2de6ac7b394c20a45fb1518843787627b",
                "MacAddress": "02:42:ac:13:00:08",
                "IPv4Address": "172.19.0.8/16",
                "IPv6Address": ""
            },
            "771501689b40d9f644ac72de6d4d08634db0bd3ae14d37c1309c81edc82febf2": {
                "Name": "windmill-windmill_server-1",
                "EndpointID": "3e4271c9714a0b26dd2b8a84af2f3895129d3612f986121146e08d12554873d8",
                "MacAddress": "02:42:ac:13:00:07",
                "IPv4Address": "172.19.0.7/16",
                "IPv6Address": ""
            },
            "8cae8835952a9f7d753553333fa1ade225b7f4e5dad21e2460375d25260339df": {
                "Name": "windmill-windmill_worker-1",
                "EndpointID": "1bb18165a88db881b25c5fb23a91d649dc3476df8deffcc872cb4c6f8d227e60",
                "MacAddress": "02:42:ac:13:00:02",
                "IPv4Address": "172.19.0.2/16",
                "IPv6Address": ""
            },
            "f4fc3b997deb43ad1aab4e044cad7beec8e01af219d5b0ee4a04143a21755c87": {
                "Name": "windmill-db-1",
                "EndpointID": "da1ffa914ca0477b40ac2d035bdf4c79c827d5266e77813a5aeb5985f1f14096",
                "MacAddress": "02:42:ac:13:00:03",
                "IPv4Address": "172.19.0.3/16",
                "IPv6Address": ""
            }
        },
        "Options": {},
        "Labels": {
            "com.docker.compose.network": "windmill_link",
            "com.docker.compose.project": "windmill",
            "com.docker.compose.version": "2.20.2"
        }
    }
]
